flow-branch-node.json
[{"id":"d4a9e4d7.d2ec48","type":"tab","label":"(지사) MQTT Topics Logging","disabled":false,"info":""},{"id":"11d079ab.427d26","type":"tab","label":"검사항목 처리","disabled":true,"info":""},{"id":"4a538179.a95d7","type":"tab","label":"모델별 조치기준 처리","disabled":true,"info":""},{"id":"596fb0e1.c70cf","type":"tab","label":"Calculation","disabled":false,"info":"1. Reference : \n   - MODEL LIST\n   - ALRAM RULE\n   - CPK RULE\n \n2. Calculaton :\n   - CPK per INSPECTION ITEM\n   - ALRAM per INSPECTION ITEM\n   - ALRAM per CHANNEL OF TEST MACHINE\n\n3. Output :\n   - ORIGINAL + CPK TO MSSQL\n   - ALRAM TO MSSQL\n   - ALRAM TO MQTT"},{"id":"9f219e3c.e6e46","type":"mqtt-broker","z":"","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f2efe6cb.ca58e8","type":"MSSQL-CN","z":"","name":"Local MS-SQL Server","server":"219.251.4.237","encyption":false,"database":"thingspin-v0"},{"id":"25b3ac9e.9ed5f4","type":"mqtt in","z":"d4a9e4d7.d2ec48","name":"Local MQTT Recv : #","topic":"#","qos":"0","broker":"9f219e3c.e6e46","x":143.5,"y":98,"wires":[["9d8027f.92debd8","231379e3.6cd7c6"]]},{"id":"9d8027f.92debd8","type":"function","z":"d4a9e4d7.d2ec48","name":"데이터 전처리","func":"var result = {\n    payload: JSON.stringify(msg)\n}\nreturn result;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["af87a7da.8ed668","896c9640.2d7fd8"]]},{"id":"733d8011.acc2e","type":"comment","z":"d4a9e4d7.d2ec48","name":"한국 지사 Broker : 219.251.4.237:1883","info":"","x":192.5,"y":51,"wires":[]},{"id":"896c9640.2d7fd8","type":"debug","z":"d4a9e4d7.d2ec48","name":"메세지 디버거","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":180,"wires":[]},{"id":"231379e3.6cd7c6","type":"debug","z":"d4a9e4d7.d2ec48","name":"메세지 디버거","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":100,"wires":[]},{"id":"b81ce03e.b44","type":"debug","z":"d4a9e4d7.d2ec48","name":"메세지 디버거","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":260,"wires":[]},{"id":"29860fd8.7f4e9","type":"mqtt in","z":"11d079ab.427d26","name":"검사 항목 추가/수정 수신","topic":"inspection_property/+/insert","qos":"0","broker":"9f219e3c.e6e46","x":150,"y":120,"wires":[["7e21040f.2f8c5c","efe360a4.647ed"]]},{"id":"7e21040f.2f8c5c","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":120,"wires":[]},{"id":"38b16610.ce13ba","type":"comment","z":"11d079ab.427d26","name":"한국 지사 Broker : 219.251.4.237:1883","info":"","x":190,"y":60,"wires":[]},{"id":"efe360a4.647ed","type":"json","z":"11d079ab.427d26","name":"","property":"payload","action":"","pretty":false,"x":370,"y":220,"wires":[["8036c4b8.b2d0a8","368ab4af.d656dc"]]},{"id":"8036c4b8.b2d0a8","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":220,"wires":[]},{"id":"368ab4af.d656dc","type":"function","z":"11d079ab.427d26","name":"수신 Index 설정","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.INSPECTION_PROPERTY_INDEX = parseInt(topics[1]);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["890d5165.0d4ea","ef49b44f.3cb548"]]},{"id":"890d5165.0d4ea","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":300,"wires":[]},{"id":"11bb7c7a.72d9c4","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":380,"wires":[]},{"id":"8c057cf2.5c8bc","type":"mqtt in","z":"11d079ab.427d26","name":"검사 항목 삭제 수신","topic":"inspection_property/+/delete","qos":"0","broker":"9f219e3c.e6e46","x":130,"y":720,"wires":[["f9945e7.f5ce8a","aa6ac667.9fb508"]]},{"id":"aa6ac667.9fb508","type":"json","z":"11d079ab.427d26","name":"","property":"payload","action":"","pretty":false,"x":370,"y":660,"wires":[["1beab697.cd5679","f2bde03f.09b96"]]},{"id":"f9945e7.f5ce8a","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":720,"wires":[]},{"id":"1beab697.cd5679","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":660,"wires":[]},{"id":"f2bde03f.09b96","type":"function","z":"11d079ab.427d26","name":"수신 Index 설정","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.INSPECTION_PROPERTY_INDEX = parseInt(topics[1]);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["b5188841.42c868","49c9c45.0de833c"]]},{"id":"b5188841.42c868","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":580,"wires":[]},{"id":"28001023.ed6","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":500,"wires":[]},{"id":"e2d2ff75.088e","type":"mqtt in","z":"4a538179.a95d7","name":"모델별 조치 기준 추가/수정 수신","topic":"model_inspection_property/+/+/insert","qos":"0","broker":"9f219e3c.e6e46","x":150,"y":80,"wires":[["4b09e0d8.a6966","32be0f52.e17ac"]]},{"id":"4b09e0d8.a6966","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":80,"wires":[]},{"id":"32be0f52.e17ac","type":"json","z":"4a538179.a95d7","name":"","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["89e74247.6a02d","2d73c4a6.8e8e4c"]]},{"id":"89e74247.6a02d","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":160,"wires":[]},{"id":"2d73c4a6.8e8e4c","type":"function","z":"4a538179.a95d7","name":"수신 Topic Parsing","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.MODEL_ID = topics[1];\nmsg.payload.INSPECTION_PROPERTY_INDEX = parseInt(topics[2]);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["4483594a.602c98","90eaef0d.6090b","a928e55e.7a36a8"]]},{"id":"4483594a.602c98","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":240,"wires":[]},{"id":"7e0f6959.ecdbb8","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":360,"wires":[]},{"id":"69e43711.db3518","type":"mqtt in","z":"4a538179.a95d7","name":"모델별 조치 기준 삭제 수신","topic":"model_inspection_property/+/+/delete","qos":"0","broker":"9f219e3c.e6e46","x":130,"y":800,"wires":[["5e43a251.94b95c","95fb2696.10f0b8"]]},{"id":"95fb2696.10f0b8","type":"json","z":"4a538179.a95d7","name":"","property":"payload","action":"","pretty":false,"x":350,"y":720,"wires":[["f75fb526.36ff68","169c2a0a.5549b6"]]},{"id":"5e43a251.94b95c","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":800,"wires":[]},{"id":"f75fb526.36ff68","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":720,"wires":[]},{"id":"9e8c2dfc.66402","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":640,"wires":[]},{"id":"5002dc67.d84fe4","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":520,"wires":[]},{"id":"169c2a0a.5549b6","type":"function","z":"4a538179.a95d7","name":"수신 Topic Parsing","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.MODEL_ID = topics[1];\nmsg.payload.INSPECTION_PROPERTY_INDEX = topics[2];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["9e8c2dfc.66402","926c0f7a.792f6","3ce80f32.6c36b"]]},{"id":"b9ac79a9.c9b448","type":"function","z":"11d079ab.427d26","name":"MQTT 전송 메세지 설정","func":"msg.payload = \"\";\nmsg.retain = true;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["5a028d7d.d0b3e4"]]},{"id":"5a028d7d.d0b3e4","type":"mqtt out","z":"11d079ab.427d26","name":"","topic":"","qos":"","retain":"","broker":"9f219e3c.e6e46","x":1070,"y":440,"wires":[]},{"id":"537455ac.22719c","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":300,"wires":[]},{"id":"a928e55e.7a36a8","type":"template","z":"4a538179.a95d7","name":"","field":"q","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IF NOT EXISTS \n    (SELECT * FROM t_model_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    insert into t_model_inspection_property \n        (MODEL_ID,\n        INSPECTION_PROPERTY_INDEX,\n        ALARM_CONTINUOUS_FAILED_MAX,\n        ALARM_CPK_MIN,\n        ALARM_CPK_MAX)\n    values\n        ('{{{payload.MODEL_ID}}}',\n        {{{payload.INSPECTION_PROPERTY_INDEX}}},\n        {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        {{{payload.ALARM_CPK_MIN}}},\n        {{{payload.ALARM_CPK_MAX}}}\n    )\nEND\nELSE\nBEGIN\n    UPDATE t_inspection_property SET\n        ALARM_CONTINUOUS_FAILED_MAX = {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        ALARM_CPK_MIN = {{{payload.ALARM_CPK_MIN}}},\n        ALARM_CPK_MAX = {{{payload.ALARM_CPK_MAX}}}\n    WHERE MODEL_ID = '{{{payload.MODEL_ID}}}' AND \n        INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\nEND","output":"str","x":570,"y":300,"wires":[["537455ac.22719c"]]},{"id":"926c0f7a.792f6","type":"template","z":"4a538179.a95d7","name":"","field":"q","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IF EXISTS \n    (SELECT * FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    DELETE FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\nEND","output":"str","x":570,"y":580,"wires":[["16762fd7.e4538"]]},{"id":"16762fd7.e4538","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":580,"wires":[]},{"id":"3eb1fa87.63a646","type":"function","z":"4a538179.a95d7","name":"MQTT 전송 메세지 설정","func":"msg.payload = \"\";\nmsg.retain = true;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["1b6c042.d5d69fc"]]},{"id":"1b6c042.d5d69fc","type":"mqtt out","z":"4a538179.a95d7","name":"","topic":"","qos":"","retain":"","broker":"9f219e3c.e6e46","x":1070,"y":440,"wires":[]},{"id":"ed0eec56.149f8","type":"comment","z":"4a538179.a95d7","name":"한국 지사 Broker : 219.251.4.237:1883","info":"","x":170,"y":40,"wires":[]},{"id":"af87a7da.8ed668","type":"MSSQL","z":"d4a9e4d7.d2ec48","mssqlCN":"f2efe6cb.ca58e8","name":"t_mqtt_log테이블에 데이터 추가 쿼리","query":"insert into t_mqtt_log (CONTENTS) values (\n    '{{{payload}}}'\n)","outField":"","x":410,"y":260,"wires":[["b81ce03e.b44"]]},{"id":"ef49b44f.3cb548","type":"MSSQL","z":"11d079ab.427d26","mssqlCN":"f2efe6cb.ca58e8","name":"t_inspection_property 테이블에 쿼리","query":"IF NOT EXISTS \n    (SELECT * FROM t_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = \n        {{{payload.INSPECTION_PROPERTY_INDEX}}}\n    )\nBEGIN\n    insert into t_inspection_property \n        (INSPECTION_PROPERTY_INDEX,\n        INSPECTION_PROPERTY_NAME,\n        DESCRIPTION )\n    values\n        ({{{payload.INSPECTION_PROPERTY_INDEX}}},\n        '{{{payload.INSPECTION_PROPERTY_NAME}}}',\n        '{{{payload.DESCRIPTION}}}'\n    )\nEND\nELSE\nBEGIN\n    UPDATE t_inspection_property SET\n        INSPECTION_PROPERTY_NAME = '{{{payload.INSPECTION_PROPERTY_NAME}}}',\n        DESCRIPTION = '{{{payload.DESCRIPTION}}}'\n    WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\nEND","outField":"","x":470,"y":380,"wires":[["11bb7c7a.72d9c4","b9ac79a9.c9b448"]]},{"id":"49c9c45.0de833c","type":"MSSQL","z":"11d079ab.427d26","mssqlCN":"f2efe6cb.ca58e8","name":"t_inspection_property 테이블에 쿼리","query":"IF EXISTS \n    (SELECT * FROM t_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = \n        {{{payload.INSPECTION_PROPERTY_INDEX}}}\n    )\nBEGIN\n    delete from t_inspection_property\n    where INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}};\nEND","outField":"","x":470,"y":500,"wires":[["28001023.ed6","b9ac79a9.c9b448"]]},{"id":"90eaef0d.6090b","type":"MSSQL","z":"4a538179.a95d7","mssqlCN":"f2efe6cb.ca58e8","name":"t_model_inspection_property 테이블에 쿼리","query":"IF NOT EXISTS \n    (SELECT * FROM t_model_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    insert into t_model_inspection_property \n        (MODEL_ID,\n        INSPECTION_PROPERTY_INDEX,\n        ALARM_CONTINUOUS_FAILED_MAX,\n        ALARM_CPK_MIN,\n        ALARM_CPK_MAX)\n    values\n        ('{{{payload.MODEL_ID}}}',\n        {{{payload.INSPECTION_PROPERTY_INDEX}}},\n        {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        {{{payload.ALARM_CPK_MIN}}},\n        {{{payload.ALARM_CPK_MAX}}}\n    )\nEND\nELSE\nBEGIN\n    UPDATE t_model_inspection_property SET\n        ALARM_CONTINUOUS_FAILED_MAX = {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        ALARM_CPK_MIN = {{{payload.ALARM_CPK_MIN}}},\n        ALARM_CPK_MAX = {{{payload.ALARM_CPK_MAX}}}\n    WHERE MODEL_ID = '{{{payload.MODEL_ID}}}' AND \n        INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\nEND","outField":"","x":470,"y":360,"wires":[["7e0f6959.ecdbb8","3eb1fa87.63a646"]]},{"id":"3ce80f32.6c36b","type":"MSSQL","z":"4a538179.a95d7","mssqlCN":"f2efe6cb.ca58e8","name":"t_inspection_property 테이블에 쿼리","query":"IF EXISTS \n    (SELECT * FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    DELETE FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\nEND","outField":"","x":450,"y":520,"wires":[["5002dc67.d84fe4","3eb1fa87.63a646"]]},{"id":"1f17a0c7.317d4f","type":"debug","z":"596fb0e1.c70cf","name":"LOG: 모델정보","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":474.1666793823242,"y":69.66667366027832,"wires":[]},{"id":"d7a7604b.bded2","type":"debug","z":"596fb0e1.c70cf","name":"LOG: 검사결과","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":739.1666793823242,"y":166.66667079925537,"wires":[]},{"id":"553ca669.d5d3a8","type":"mqtt in","z":"596fb0e1.c70cf","name":"THINGSPIN/MODELS","topic":"THINGSPIN/MODELS","qos":"2","broker":"9f219e3c.e6e46","x":197.16668701171875,"y":69.33334350585938,"wires":[["1f17a0c7.317d4f"]]},{"id":"110db50f.01f23b","type":"mqtt in","z":"596fb0e1.c70cf","name":"+/INSPT/+/+","topic":"+/INSPT/+/+","qos":"2","broker":"9f219e3c.e6e46","x":172.16669082641602,"y":168.33333778381348,"wires":[["233642aa.aadafe"]]},{"id":"f33bd52f.eabaa8","type":"mqtt in","z":"596fb0e1.c70cf","name":"INSPPROP/#","topic":"INSPPROP/#","qos":"2","broker":"9f219e3c.e6e46","x":171.16669082641602,"y":275.33334159851074,"wires":[["2f586882.1106c8"]]},{"id":"2f586882.1106c8","type":"debug","z":"596fb0e1.c70cf","name":"LOG: 검사항목","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":476.1666793823242,"y":274.6666946411133,"wires":[]},{"id":"bf6abb01.cf70d8","type":"mqtt in","z":"596fb0e1.c70cf","name":"ACTINADV/#","topic":"ACTINADV/#","qos":"2","broker":"9f219e3c.e6e46","x":168.16668701171875,"y":372.3333435058594,"wires":[["2e50ead6.a76c06"]]},{"id":"2e50ead6.a76c06","type":"debug","z":"596fb0e1.c70cf","name":"LOG: 조치 룰","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":473.1666793823242,"y":371.6666774749756,"wires":[]},{"id":"233642aa.aadafe","type":"json","z":"596fb0e1.c70cf","name":"","property":"payload","action":"","pretty":false,"x":321.1666946411133,"y":167.0000057220459,"wires":[["d7a7604b.bded2"]]}]