flow-branch-node.json
[{"id":"d4a9e4d7.d2ec48","type":"tab","label":"(지사) MQTT Topics Logging","disabled":true,"info":""},{"id":"11d079ab.427d26","type":"tab","label":"검사항목 처리","disabled":true,"info":""},{"id":"4a538179.a95d7","type":"tab","label":"모델별 조치기준 처리","disabled":true,"info":""},{"id":"596fb0e1.c70cf","type":"tab","label":"Calculation","disabled":false,"info":"1. Reference : \n   - MODEL LIST\n   - ALRAM RULE\n   - CPK RULE\n \n2. Calculaton :\n   - CPK per INSPECTION ITEM\n   - ALRAM per INSPECTION ITEM\n   - ALRAM per CHANNEL OF TEST MACHINE\n\n3. Output :\n   - ORIGINAL + CPK TO MSSQL\n   - ALRAM TO MSSQL\n   - ALRAM TO MQTT"},{"id":"9f219e3c.e6e46","type":"mqtt-broker","z":"","name":"Local MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f2efe6cb.ca58e8","type":"MSSQL-CN","z":"","name":"Local MS-SQL Server","server":"219.251.4.237","encyption":false,"database":"thingspin-v0"},{"id":"1dc9e4a.7d2ed1b","type":"influxdb","z":"","hostname":"219.251.4.237","port":"8086","protocol":"http","database":"thingspin","name":"rms-branch-influxdb","usetls":false,"tls":""},{"id":"25b3ac9e.9ed5f4","type":"mqtt in","z":"d4a9e4d7.d2ec48","name":"Local MQTT Recv : #","topic":"#","qos":"0","broker":"9f219e3c.e6e46","x":143.5,"y":98,"wires":[["9d8027f.92debd8","231379e3.6cd7c6"]]},{"id":"9d8027f.92debd8","type":"function","z":"d4a9e4d7.d2ec48","name":"데이터 전처리","func":"var result = {\n    payload: JSON.stringify(msg)\n}\nreturn result;","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["af87a7da.8ed668","896c9640.2d7fd8"]]},{"id":"733d8011.acc2e","type":"comment","z":"d4a9e4d7.d2ec48","name":"한국 지사 Broker : 219.251.4.237:1883","info":"","x":192.5,"y":51,"wires":[]},{"id":"896c9640.2d7fd8","type":"debug","z":"d4a9e4d7.d2ec48","name":"메세지 디버거","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":180,"wires":[]},{"id":"231379e3.6cd7c6","type":"debug","z":"d4a9e4d7.d2ec48","name":"메세지 디버거","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":100,"wires":[]},{"id":"b81ce03e.b44","type":"debug","z":"d4a9e4d7.d2ec48","name":"메세지 디버거","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":260,"wires":[]},{"id":"29860fd8.7f4e9","type":"mqtt in","z":"11d079ab.427d26","name":"검사 항목 추가/수정 수신","topic":"inspection_property/+/insert","qos":"0","broker":"9f219e3c.e6e46","x":150,"y":120,"wires":[["7e21040f.2f8c5c","efe360a4.647ed"]]},{"id":"7e21040f.2f8c5c","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":120,"wires":[]},{"id":"38b16610.ce13ba","type":"comment","z":"11d079ab.427d26","name":"한국 지사 Broker : 219.251.4.237:1883","info":"","x":190,"y":60,"wires":[]},{"id":"efe360a4.647ed","type":"json","z":"11d079ab.427d26","name":"","property":"payload","action":"","pretty":false,"x":370,"y":220,"wires":[["8036c4b8.b2d0a8","368ab4af.d656dc"]]},{"id":"8036c4b8.b2d0a8","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":220,"wires":[]},{"id":"368ab4af.d656dc","type":"function","z":"11d079ab.427d26","name":"수신 Index 설정","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.INSPECTION_PROPERTY_INDEX = parseInt(topics[1]);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["890d5165.0d4ea","ef49b44f.3cb548"]]},{"id":"890d5165.0d4ea","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":300,"wires":[]},{"id":"11bb7c7a.72d9c4","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":380,"wires":[]},{"id":"8c057cf2.5c8bc","type":"mqtt in","z":"11d079ab.427d26","name":"검사 항목 삭제 수신","topic":"inspection_property/+/delete","qos":"0","broker":"9f219e3c.e6e46","x":130,"y":720,"wires":[["f9945e7.f5ce8a","aa6ac667.9fb508"]]},{"id":"aa6ac667.9fb508","type":"json","z":"11d079ab.427d26","name":"","property":"payload","action":"","pretty":false,"x":370,"y":660,"wires":[["1beab697.cd5679","f2bde03f.09b96"]]},{"id":"f9945e7.f5ce8a","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":720,"wires":[]},{"id":"1beab697.cd5679","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":660,"wires":[]},{"id":"f2bde03f.09b96","type":"function","z":"11d079ab.427d26","name":"수신 Index 설정","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.INSPECTION_PROPERTY_INDEX = parseInt(topics[1]);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["b5188841.42c868","49c9c45.0de833c"]]},{"id":"b5188841.42c868","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":580,"wires":[]},{"id":"28001023.ed6","type":"debug","z":"11d079ab.427d26","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":500,"wires":[]},{"id":"e2d2ff75.088e","type":"mqtt in","z":"4a538179.a95d7","name":"모델별 조치 기준 추가/수정 수신","topic":"model_inspection_property/+/+/insert","qos":"0","broker":"9f219e3c.e6e46","x":150,"y":80,"wires":[["4b09e0d8.a6966","32be0f52.e17ac"]]},{"id":"4b09e0d8.a6966","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":80,"wires":[]},{"id":"32be0f52.e17ac","type":"json","z":"4a538179.a95d7","name":"","property":"payload","action":"","pretty":false,"x":350,"y":160,"wires":[["89e74247.6a02d","2d73c4a6.8e8e4c"]]},{"id":"89e74247.6a02d","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":160,"wires":[]},{"id":"2d73c4a6.8e8e4c","type":"function","z":"4a538179.a95d7","name":"수신 Topic Parsing","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.MODEL_ID = topics[1];\nmsg.payload.INSPECTION_PROPERTY_INDEX = parseInt(topics[2]);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["4483594a.602c98","90eaef0d.6090b","a928e55e.7a36a8"]]},{"id":"4483594a.602c98","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":240,"wires":[]},{"id":"7e0f6959.ecdbb8","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":360,"wires":[]},{"id":"69e43711.db3518","type":"mqtt in","z":"4a538179.a95d7","name":"모델별 조치 기준 삭제 수신","topic":"model_inspection_property/+/+/delete","qos":"0","broker":"9f219e3c.e6e46","x":130,"y":800,"wires":[["5e43a251.94b95c","95fb2696.10f0b8"]]},{"id":"95fb2696.10f0b8","type":"json","z":"4a538179.a95d7","name":"","property":"payload","action":"","pretty":false,"x":350,"y":720,"wires":[["f75fb526.36ff68","169c2a0a.5549b6"]]},{"id":"5e43a251.94b95c","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":800,"wires":[]},{"id":"f75fb526.36ff68","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":720,"wires":[]},{"id":"9e8c2dfc.66402","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":740,"y":640,"wires":[]},{"id":"5002dc67.d84fe4","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":520,"wires":[]},{"id":"169c2a0a.5549b6","type":"function","z":"4a538179.a95d7","name":"수신 Topic Parsing","func":"var topics = msg.topic.split(\"/\");\nmsg.payload.MODEL_ID = topics[1];\nmsg.payload.INSPECTION_PROPERTY_INDEX = topics[2];\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["9e8c2dfc.66402","926c0f7a.792f6","3ce80f32.6c36b"]]},{"id":"b9ac79a9.c9b448","type":"function","z":"11d079ab.427d26","name":"MQTT 전송 메세지 설정","func":"msg.payload = \"\";\nmsg.retain = true;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["5a028d7d.d0b3e4"]]},{"id":"5a028d7d.d0b3e4","type":"mqtt out","z":"11d079ab.427d26","name":"","topic":"","qos":"","retain":"","broker":"9f219e3c.e6e46","x":1070,"y":440,"wires":[]},{"id":"537455ac.22719c","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":300,"wires":[]},{"id":"a928e55e.7a36a8","type":"template","z":"4a538179.a95d7","name":"","field":"q","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IF NOT EXISTS \n    (SELECT * FROM t_model_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    insert into t_model_inspection_property \n        (MODEL_ID,\n        INSPECTION_PROPERTY_INDEX,\n        ALARM_CONTINUOUS_FAILED_MAX,\n        ALARM_CPK_MIN,\n        ALARM_CPK_MAX)\n    values\n        ('{{{payload.MODEL_ID}}}',\n        {{{payload.INSPECTION_PROPERTY_INDEX}}},\n        {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        {{{payload.ALARM_CPK_MIN}}},\n        {{{payload.ALARM_CPK_MAX}}}\n    )\nEND\nELSE\nBEGIN\n    UPDATE t_inspection_property SET\n        ALARM_CONTINUOUS_FAILED_MAX = {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        ALARM_CPK_MIN = {{{payload.ALARM_CPK_MIN}}},\n        ALARM_CPK_MAX = {{{payload.ALARM_CPK_MAX}}}\n    WHERE MODEL_ID = '{{{payload.MODEL_ID}}}' AND \n        INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\nEND","output":"str","x":570,"y":300,"wires":[["537455ac.22719c"]]},{"id":"926c0f7a.792f6","type":"template","z":"4a538179.a95d7","name":"","field":"q","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IF EXISTS \n    (SELECT * FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    DELETE FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\nEND","output":"str","x":570,"y":580,"wires":[["16762fd7.e4538"]]},{"id":"16762fd7.e4538","type":"debug","z":"4a538179.a95d7","name":"디버깅 메세지","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":580,"wires":[]},{"id":"3eb1fa87.63a646","type":"function","z":"4a538179.a95d7","name":"MQTT 전송 메세지 설정","func":"msg.payload = \"\";\nmsg.retain = true;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["1b6c042.d5d69fc"]]},{"id":"1b6c042.d5d69fc","type":"mqtt out","z":"4a538179.a95d7","name":"","topic":"","qos":"","retain":"","broker":"9f219e3c.e6e46","x":1070,"y":440,"wires":[]},{"id":"ed0eec56.149f8","type":"comment","z":"4a538179.a95d7","name":"한국 지사 Broker : 219.251.4.237:1883","info":"","x":170,"y":40,"wires":[]},{"id":"af87a7da.8ed668","type":"MSSQL","z":"d4a9e4d7.d2ec48","mssqlCN":"f2efe6cb.ca58e8","name":"t_mqtt_log테이블에 데이터 추가 쿼리","query":"insert into t_mqtt_log (CONTENTS) values (\n    '{{{payload}}}'\n)","outField":"","x":410,"y":260,"wires":[["b81ce03e.b44"]]},{"id":"ef49b44f.3cb548","type":"MSSQL","z":"11d079ab.427d26","mssqlCN":"f2efe6cb.ca58e8","name":"t_inspection_property 테이블에 쿼리","query":"IF NOT EXISTS \n    (SELECT * FROM t_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = \n        {{{payload.INSPECTION_PROPERTY_INDEX}}}\n    )\nBEGIN\n    insert into t_inspection_property \n        (INSPECTION_PROPERTY_INDEX,\n        INSPECTION_PROPERTY_NAME,\n        DESCRIPTION )\n    values\n        ({{{payload.INSPECTION_PROPERTY_INDEX}}},\n        '{{{payload.INSPECTION_PROPERTY_NAME}}}',\n        '{{{payload.DESCRIPTION}}}'\n    )\nEND\nELSE\nBEGIN\n    UPDATE t_inspection_property SET\n        INSPECTION_PROPERTY_NAME = '{{{payload.INSPECTION_PROPERTY_NAME}}}',\n        DESCRIPTION = '{{{payload.DESCRIPTION}}}'\n    WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\nEND","outField":"","x":470,"y":380,"wires":[["11bb7c7a.72d9c4","b9ac79a9.c9b448"]]},{"id":"49c9c45.0de833c","type":"MSSQL","z":"11d079ab.427d26","mssqlCN":"f2efe6cb.ca58e8","name":"t_inspection_property 테이블에 쿼리","query":"IF EXISTS \n    (SELECT * FROM t_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = \n        {{{payload.INSPECTION_PROPERTY_INDEX}}}\n    )\nBEGIN\n    delete from t_inspection_property\n    where INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}};\nEND","outField":"","x":470,"y":500,"wires":[["28001023.ed6","b9ac79a9.c9b448"]]},{"id":"90eaef0d.6090b","type":"MSSQL","z":"4a538179.a95d7","mssqlCN":"f2efe6cb.ca58e8","name":"t_model_inspection_property 테이블에 쿼리","query":"IF NOT EXISTS \n    (SELECT * FROM t_model_inspection_property \n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    insert into t_model_inspection_property \n        (MODEL_ID,\n        INSPECTION_PROPERTY_INDEX,\n        ALARM_CONTINUOUS_FAILED_MAX,\n        ALARM_CPK_MIN,\n        ALARM_CPK_MAX)\n    values\n        ('{{{payload.MODEL_ID}}}',\n        {{{payload.INSPECTION_PROPERTY_INDEX}}},\n        {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        {{{payload.ALARM_CPK_MIN}}},\n        {{{payload.ALARM_CPK_MAX}}}\n    )\nEND\nELSE\nBEGIN\n    UPDATE t_model_inspection_property SET\n        ALARM_CONTINUOUS_FAILED_MAX = {{{payload.ALARM_CONTINUOUS_FAILED_MAX}}},\n        ALARM_CPK_MIN = {{{payload.ALARM_CPK_MIN}}},\n        ALARM_CPK_MAX = {{{payload.ALARM_CPK_MAX}}}\n    WHERE MODEL_ID = '{{{payload.MODEL_ID}}}' AND \n        INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\nEND","outField":"","x":470,"y":360,"wires":[["7e0f6959.ecdbb8","3eb1fa87.63a646"]]},{"id":"3ce80f32.6c36b","type":"MSSQL","z":"4a538179.a95d7","mssqlCN":"f2efe6cb.ca58e8","name":"t_inspection_property 테이블에 쿼리","query":"IF EXISTS \n    (SELECT * FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\n    )\nBEGIN\n    DELETE FROM t_model_inspection_property\n        WHERE INSPECTION_PROPERTY_INDEX = {{{payload.INSPECTION_PROPERTY_INDEX}}}\n        AND MODEL_ID = '{{{payload.MODEL_ID}}}'\nEND","outField":"","x":450,"y":520,"wires":[["5002dc67.d84fe4","3eb1fa87.63a646"]]},{"id":"d7a7604b.bded2","type":"debug","z":"596fb0e1.c70cf","name":"LOG: 검사결과","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":549.1666831970215,"y":673.6666870117188,"wires":[]},{"id":"110db50f.01f23b","type":"mqtt in","z":"596fb0e1.c70cf","name":"+/INSPT/+/+ __","topic":"+/INSPT/+/+","qos":"2","broker":"9f219e3c.e6e46","x":142.16668701171875,"y":674.3333549499512,"wires":[["233642aa.aadafe"]]},{"id":"f33bd52f.eabaa8","type":"mqtt in","z":"596fb0e1.c70cf","name":"INSPPROP/#","topic":"INSPPROP/#","qos":"2","broker":"9f219e3c.e6e46","x":135.16669464111328,"y":395.33336067199707,"wires":[["b36a192b.1f4948"]]},{"id":"2f586882.1106c8","type":"debug","z":"596fb0e1.c70cf","name":"LOG: 검사항목","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":877.1666946411133,"y":394.66671085357666,"wires":[]},{"id":"bf6abb01.cf70d8","type":"mqtt in","z":"596fb0e1.c70cf","name":"ACTINADV/#","topic":"ACTINADV/#","qos":"2","broker":"9f219e3c.e6e46","x":133.16669082641602,"y":510.3333435058594,"wires":[["b1076b8f.46c7c8"]]},{"id":"2e50ead6.a76c06","type":"debug","z":"596fb0e1.c70cf","name":"LOG: 조치 룰","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":866.1666870117188,"y":508.66668128967285,"wires":[]},{"id":"233642aa.aadafe","type":"json","z":"596fb0e1.c70cf","name":"","property":"payload","action":"","pretty":false,"x":338.16669845581055,"y":701.0001831054688,"wires":[["d7a7604b.bded2","4389d55e.d8c00c"]]},{"id":"e990a9a2.3d2f48","type":"influxdb out","z":"596fb0e1.c70cf","influxdb":"1dc9e4a.7d2ed1b","name":"inspection","measurement":"inspection","precision":"u","retentionPolicy":"","x":1530.1666526794434,"y":694.6668510437012,"wires":[]},{"id":"a8cb67f.197e298","type":"function","z":"596fb0e1.c70cf","name":"result - per device","func":"var data = msg;\ndata.measurement = \"inspection-\" + flow.get(\"YYYYMMDD\");\n\nvar p = data.payload;\ndelete data.payload;\n\ndata.payload = [\n    {\n        tuid: data._msgid,\n        stime:p.startTime,\n        etime: p.endTime\n    },\n    {\n        facility:p.pcID,\n        channel:p.channel,\n        model: p.prodModel,\n        pass: p.pass\n    }\n];\n\n\nreturn data;","outputs":1,"noerr":0,"x":1249.166648864746,"y":718.0001859664917,"wires":[["e990a9a2.3d2f48","3dd0c101.a4ec3e"]]},{"id":"3dd0c101.a4ec3e","type":"debug","z":"596fb0e1.c70cf","name":"LOG: result - per device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1577.1666564941406,"y":741.6667737960815,"wires":[]},{"id":"93a8e579.cdaa58","type":"mqtt in","z":"596fb0e1.c70cf","name":"+/INSPTDEV/+/+","topic":"+/INSPTDEV/+/+","qos":"2","broker":"9f219e3c.e6e46","x":142,"y":730.0000238418579,"wires":[[]]},{"id":"32f09a08.93de36","type":"influxdb batch","z":"596fb0e1.c70cf","influxdb":"1dc9e4a.7d2ed1b","precision":"ms","retentionPolicy":"","name":"","x":885.1667709350586,"y":757.6667709350586,"wires":[]},{"id":"5c4ac469.5ba4fc","type":"function","z":"596fb0e1.c70cf","name":" inspecton results","func":"var inspprop = flow.get(\"INSPPROP\");\n\nif (inspprop === null) {\n    return;\n}\n\nvar details = msg.payload.details;\ndelete msg.payload.details;\n\nmeasurement = 'inspection.detail-' + flow.get(\"YYYYMMDD\");\n\nvar records = details.map(\n    function(point) {\n        return {\n            measurement: measurement,\n            tags : {\n                facility: msg.payload.pcID,\n                channel: msg.payload.channel,\n                model: msg.payload.prodModel,\n                iid: point.iid,\n                pass: point.pass\n            },\n            fields: {\n                tuid: msg._msgid,\n                val: point.val,\n                min: point.min,\n                max: point.max,\n                inm: inspprop.get(point.iid).NAME\n            }\n\n        };\n    }\n);\n\nmsg.payload = records;\n\nreturn msg;","outputs":1,"noerr":0,"x":1249.166648864746,"y":776.3333568572998,"wires":[["6e42e041.9a868","3dd0c101.a4ec3e"]]},{"id":"78552483.42961c","type":"function","z":"596fb0e1.c70cf","name":"INSPPROP: store in flow context","func":"var token = msg.topic.split('/');\n\nfor ( var t in token ) {\n    if(token[t] == \"INSPPROP\") {\n        msg.payload.ID = parseInt(token[parseInt(t)+1]);\n        break;\n    }\n}\n\nif ((\"ID\" in msg.payload) !== true) {\n    return;\n}\n\nvar prop = msg.payload;\n\nvar map = flow.get(\"INSPPROP\");\n\nif(map === null) {\n    map = new Map();\n}\n\nmap.set(prop.ID, prop);\n\nflow.set(\"INSPPROP\", map);\n\nreturn msg;","outputs":1,"noerr":0,"x":606.1666870117188,"y":395.00004386901855,"wires":[["2f586882.1106c8"]]},{"id":"b36a192b.1f4948","type":"json","z":"596fb0e1.c70cf","name":"","property":"payload","action":"","pretty":false,"x":341.1667022705078,"y":394.66671085357666,"wires":[["78552483.42961c"]]},{"id":"beb537b5.9a4608","type":"inject","z":"596fb0e1.c70cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":159.16668701171875,"y":245.33333587646484,"wires":[["4b36d8b9.f15918"]]},{"id":"4b36d8b9.f15918","type":"function","z":"596fb0e1.c70cf","name":"YYYYMMDD","func":"Date.prototype.yyyymmdd = function() {\n  var mm = this.getMonth() + 1; // getMonth() is zero-based\n  var dd = this.getDate();\n\n  return [this.getFullYear(),\n          (mm>9 ? '' : '0') + mm,\n          (dd>9 ? '' : '0') + dd\n         ].join('');\n};\n\nvar date = new Date();\ndate.yyyymmdd();\n\n\nflow.set(\"YYYYMMDD\", date.yyyymmdd());\n\nmsg.YYYYMMDD = flow.get(\"YYYYMMDD\");\n\nreturn msg;","outputs":1,"noerr":0,"x":366.1666946411133,"y":245.00000095367432,"wires":[["31e03d75.c6f402"]]},{"id":"31e03d75.c6f402","type":"debug","z":"596fb0e1.c70cf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"YYYYMMDD","x":886.1666870117188,"y":247.6666717529297,"wires":[]},{"id":"df6e8ab.e47e478","type":"inject","z":"596fb0e1.c70cf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151.16677474975586,"y":111.3333511352539,"wires":[["6147cdcf.77d714"]]},{"id":"6147cdcf.77d714","type":"function","z":"596fb0e1.c70cf","name":"","func":"var q = flow.set(\"INSPPROP\", null);\nvar q = flow.set(\"ACTINADV\", null);\n\nreturn msg;","outputs":1,"noerr":0,"x":350.16679763793945,"y":111.0000171661377,"wires":[[]]},{"id":"51bbf136.05e16","type":"comment","z":"596fb0e1.c70cf","name":"[검사항목리스트를 FLOW 컨텍스트에 저장_________]","info":"","x":207,"y":348.0000047683716,"wires":[]},{"id":"22788c3a.789e44","type":"comment","z":"596fb0e1.c70cf","name":"[저장소 이름을 구분하기 위해 YYYYMMDD를 생성___]","info":"","x":207,"y":198.99999809265137,"wires":[]},{"id":"5f369c68.5b2234","type":"comment","z":"596fb0e1.c70cf","name":"[관리자용 내부변수 초기화______________________]","info":"","x":205,"y":60,"wires":[]},{"id":"a6d9fa75.f027d8","type":"comment","z":"596fb0e1.c70cf","name":"[사전조치 항목: 연속불량 알림 계산 룰, CPK 계속 룰을  FLOW 컨텍스트에 저장]","info":"","x":285,"y":473,"wires":[]},{"id":"551b2c17.b970d4","type":"comment","z":"596fb0e1.c70cf","name":"[시험결과를 받아 DB에 저장 _____________________]","info":"","x":207,"y":626.0000200271606,"wires":[]},{"id":"b1076b8f.46c7c8","type":"json","z":"596fb0e1.c70cf","name":"","property":"payload","action":"","pretty":false,"x":337.16668701171875,"y":509,"wires":[["cdf84914.4e85d8"]]},{"id":"cdf84914.4e85d8","type":"function","z":"596fb0e1.c70cf","name":"ACTINADV: store in flow context","func":"var token = msg.topic.split('/');\n\nfor ( var t in token ) {\n    if(token[t] == \"ACTINADV\") {\n        msg.payload.ID = parseInt(token[parseInt(t)+1]);\n        break;\n    }\n}\n\nif ((\"ID\" in msg.payload) !== true) {\n    return;\n}\n\nvar prop = msg.payload;\n\nvar map = flow.get(\"ACTINADV\");\n\nif(map === null) {\n    map = new Map();\n}\n\nmap.set(prop.ID, prop);\n\nflow.set(\"ACTINADV\", map);\n\nreturn msg;","outputs":1,"noerr":0,"x":596.1666870117188,"y":509.3333740234375,"wires":[["2e50ead6.a76c06"]]},{"id":"4389d55e.d8c00c","type":"function","z":"596fb0e1.c70cf","name":" inspecton results","func":"//=========================================================\nvar YYYYMMDD = flow.get(\"YYYYMMDD\");\nvar inspprop = flow.get(\"INSPPROP\");\nvar actinadv = flow.get(\"ACTINADV\");\n\nif ((YYYYMMDD === null) || (inspprop === null) || (actinadv === null)) {\n    return;\n}\n\nvar mesINSP = \"inspection.summary-\" + YYYYMMDD;\nvar mesDETL = 'inspection.detail-' + YYYYMMDD;\n\n//=========================================================\nvar details = msg.payload.details;\ndelete msg.payload.details;\n\nvar inspection = msg.payload;\n\n//=========================================================\ninspection = {\n    measurement: mesINSP,\n    tags: {\n        facility: inspection.pcID,\n        channel: inspection.channel,\n        model: inspection.prodModel,\n        pass: inspection.pass\n    },\n    fields: {\n        tuid: msg._msgid,\n        stime: inspection.startTime,\n        etime: inspection.endTime\n    }    \n};\n\n//=========================================================\nvar transaction = details.map(\n    function(point) {\n        return {\n            measurement: mesDETL,\n            tags : {\n                facility: msg.payload.pcID,\n                channel: msg.payload.channel,\n                model: msg.payload.prodModel,\n                iid: point.iid,\n                pass: point.pass\n            },\n            fields: {\n                tuid: msg._msgid,\n                val: point.val,\n                min: point.min,\n                max: point.max,\n                inm: inspprop.get(point.iid).NAME\n            }\n\n        };\n    }\n);\n\ntransaction.push(inspection);\n\n//=========================================================\nmsg.payload = transaction;\n\nreturn msg;","outputs":1,"noerr":0,"x":556.0000953674316,"y":738.0000228881836,"wires":[["32f09a08.93de36","23fc8087.c485a"]]},{"id":"6e42e041.9a868","type":"influxdb batch","z":"596fb0e1.c70cf","influxdb":"1dc9e4a.7d2ed1b","precision":"ms","retentionPolicy":"","name":"","x":1570.999984741211,"y":792.0000247955322,"wires":[]},{"id":"23fc8087.c485a","type":"debug","z":"596fb0e1.c70cf","name":"LOG : detail result - per inspection item","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":935.166690826416,"y":716.6666870117188,"wires":[]},{"id":"34bc9d5d.52ae12","type":"comment","z":"596fb0e1.c70cf","name":"[백업___________________________________]","info":"","x":1336.9999923706055,"y":653.0000190734863,"wires":[]}]